## Visual Assessment: Acquaint Yourself
This Auralin Phase II clinical trial dataset comes in three tables: `patients`, `treatments`, and `adverse_reactions`. Acquaint yourself with them through visual assessment below.

### Gather

In [1]:
import pandas as pd 

patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

### Assess
In the cells below, each column of each table in this clinical trial dataset is described. To see the table that goes hand in hand with these descriptions, display each table in its entirety by displaying the pandas DataFrame that it was gathered into. This task is the mechanical part of visual assessment in pandas.

In [2]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

`patients` columns:
- **patient_id**: the unique identifier for each patient in the [Master Patient Index](https://en.wikipedia.org/wiki/Enterprise_master_patient_index) (i.e. patient database) of the pharmaceutical company that is producing Auralin
- **assigned_sex**: the assigned sex of each patient at birth (male or female)
- **given_name**: the given name (i.e. first name) of each patient
- **surname**: the surname (i.e. last name) of each patient
- **address**: the main address for each patient
- **city**: the corresponding city for the main address of each patient
- **state**: the corresponding state for the main address of each patient
- **zip_code**: the corresponding zip code for the main address of each patient
- **country**: the corresponding country for the main address of each patient (all United states for this clinical trial)
- **contact**: phone number and email information for each patient
- **birthdate**: the date of birth of each patient (month/day/year). The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is  age >= 18 *(there is no maximum age because diabetes is a [growing problem](http://www.diabetes.co.uk/diabetes-and-the-elderly.html) among the elderly population)*
- **weight**: the weight of each patient in pounds (lbs)
- **height**: the height of each patient in inches (in)
- **bmi**: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m<sup>2</sup> where kg is a person's weight in kilograms and m<sup>2</sup> is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. *The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is 16 >= BMI >= 38.*

In [3]:
treatments.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

350 patients participated in this clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before.  All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After four weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:
- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

`treatments` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial
- **auralin**: the baseline median daily dose of insulin from the week prior to switching to Auralin (the number before the dash) *and* the ending median daily dose of insulin at the end of the 24 weeks of treatment measured over the 24th week of treatment (the number after the dash). Both are measured in units (shortform 'u'), which is the [international unit](https://en.wikipedia.org/wiki/International_unit) of measurement and the standard measurement for insulin.
- **novodra**: same as above, except for patients that continued treatment with Novodra
- **hba1c_start**: the patient's HbA1c level at the beginning of the first week of treatment. HbA1c stands for Hemoglobin A1c. The [HbA1c test](https://depts.washington.edu/uwcoe/healthtopics/diabetes.html) measures what the average blood sugar has been over the past three months. It is thus a powerful way to get an overall sense of how well diabetes has been controlled. Everyone with diabetes should have this test 2 to 4 times per year. Measured in %.
- **hba1c_end**: the patient's HbA1c level at the end of the last week of treatment
- **hba1c_change**: the change in the patient's HbA1c level from the start of treatment to the end, i.e., `hba1c_start` - `hba1c_end`. For Auralin to be deemed effective, it must be "noninferior" to Novodra, the current standard for insulin. This "noninferiority" is statistically defined as the upper bound of the 95% confidence interval being less than 0.4% for the difference between the mean HbA1c changes for Novodra and Auralin (i.e. Novodra minus Auralin).

In [4]:
adverse_reactions.head()

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia
2     joseph         day               hypoglycemia
3     flavia  fiorentino                      cough
4    manouck     wubbels          throat irritation

`adverse_reactions` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **adverse_reaction**: the adverse reaction reported by the patient

Additional useful information:
- [Insulin resistance varies person to person](http://www.tudiabetes.org/forum/t/how-much-insulin-is-too-much-on-a-daily-basis/9804/5), which is why both starting median daily dose and ending median daily dose are required, i.e., to calculate change in dose.
- It is important to test drugs and medical products in the people they are meant to help. People of different age, race, sex, and ethnic group must be included in clinical trials. This [diversity](https://www.clinicalleader.com/doc/an-fda-perspective-on-patient-diversity-in-clinical-trials-0001) is reflected in the `patients` table.
- Ensuring column names are descriptive enough is an important step in acquainting yourself with the data. 'Descriptive enough' is subjective. Ideally you want short column names (so they are easier to type and read in code form) but also fully descriptive. Length vs. descriptiveness is a tradeoff and common debate (a [similar debate](https://softwareengineering.stackexchange.com/questions/176582/is-there-an-excuse-for-short-variable-names) exists for variable names). The *auralin* and *novodra* column names are probably not descriptive enough, but you'll address that later so don't worry about that for now.

In [5]:
patients.query('height == 27')

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

## quality 

### patients table 

- zip code is float not string
- zip code has four digits sometimes
- Tim Neudorf height is 27 insted of 72 in
- full state names sometimes,abbrevations other times
- david gustafsson
- Missing demographic information(address - contact columns)
- Erroneous datatypes (assigned sex, zip, code,birthday columns)
- Multiple phonenumbers format 

### treatments table 

- missing HbA1c changes
- the letter u in starting and ending doses for aurlien and Novadra
- lowercase given in names and surnames
- missing records(280 instead of 350)
- Erroneous datatypes(aurlien and Novadra columns)
- inaccurate HbA1c changes 
- Nulls represents in (-) in aurlien and novadra columns

### adverse reaction table

- lowercase given in names and surnames

## Tideness

- contact columns should be splitted into email and phone number
- three_variables in two columns in `treatment` table ( treatments, start_dose,end_dose)
- merging treatment and adverse reaction table

In [92]:
patients_clean = patients.copy() 
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

## Missing data
in treatment table

In [93]:
treatments_cut = pd.read_csv('treatments_cut.csv')

treatments_clean = pd.concat([treatments_clean,treatments_cut],ignore_index = True)

In [94]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 19.3+ KB

## clean

### Patients table

### problem 

 1- zip code is float not string

In [95]:
patients_clean.dtypes

patient_id        int64
assigned_sex     object
given_name       object
surname          object
address          object
city             object
state            object
zip_code        float64
country          object
contact          object
birthdate        object
weight          float64
height            int64
bmi             float64
dtype: object

### solution

In [68]:
patients_clean['zip_code'] = patients_clean['zip_code'].astype(str).str[:-2]

### check

In [69]:
patients_clean.dtypes

patient_id        int64
assigned_sex     object
given_name       object
surname          object
address          object
city             object
state            object
zip_code         object
country          object
contact          object
birthdate        object
weight          float64
height            int64
bmi             float64
dtype: object

### problem 

 1- zip code has 4 digits sometimes

In [70]:
patients_clean.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
161,162,male,Mitsunobu,Fujiwara,212 Tibbs Avenue,Chester,MT,59522,United States,406-759-6160MitsunobuFujiwara@armyspy.com,5/21/1969,223.5,67,35.0
298,299,male,Connor,Harold,3688 Glenview Drive,Corpus Christi,TX,78476,United States,361-533-5161ConnorHarold@fleckens.hu,9/12/1923,182.2,69,26.9
57,58,female,Siebrigje,Koldenhof,34 Hamill Avenue,La Mesa,California,91941,United States,SiebrigjeKoldenhof@rhyta.com858-413-3163,5/24/1935,134.0,60,26.2
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
179,180,male,Dominik,Grunewald,3574 Park Boulevard,Marshalltown,IA,50158,United States,641-753-5678DominikGrunewald@cuvox.de,11/20/1935,143.0,71,19.9

### solution
using str fucntion to solve this

In [71]:
patients_clean['zip_code'].str.rjust(5,'0')

0      92390
1      61812
2      68467
3      07095
4      36303
       ...
498    03852
499    86341
500    64110
501    98109
502    68324
Name: zip_code, Length: 503, dtype: object

## Tideness

### Problem

contact columns should be splitted into email and phone number

### solution :

In [96]:
patients_clean['Phone_Number'] = patients_clean['contact'].str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})',expand = True)
patients_clean['email'] = patients_clean['contact'].str.extract('([a-zA-Z][a-zA-Z0-9._-]+@[a-z]+\.[a-z]+)',expand =True)

In [97]:
patients_clean.drop('contact',axis = 1,inplace =True)

### check

In [98]:
patients_clean.columns

Index(['patient_id', 'assigned_sex', 'given_name', 'surname', 'address',
       'city', 'state', 'zip_code', 'country', 'birthdate', 'weight', 'height',
       'bmi', 'Phone_Number', 'email'],
      dtype='object')

### Problem

three_variables in two columns in treatment table ( treatments, start_dose,end_dose)

In [99]:
treatments_clean.sample(5)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
202,martina,tománková,-,50u - 57u,7.83,7.36,0.97
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
65,elisabeth,dimmen,-,41u - 36u,7.60,7.28,0.32

In [100]:
treatments_clean = pd.melt(treatments_clean,id_vars = ['given_name','surname','hba1c_start','hba1c_end','hba1c_change'],
                          var_name = 'treatments',value_name = 'dose')
treatments_clean = treatments_clean[treatments_clean.dose != "-"]

In [101]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 698
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   hba1c_start   350 non-null    float64
 3   hba1c_end     350 non-null    float64
 4   hba1c_change  213 non-null    float64
 5   treatments    350 non-null    object
 6   dose          350 non-null    object
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [102]:
treatments_clean[['start_dose','end_dose']] = treatments_clean['dose'].str.split('-',1,expand = True)

In [103]:
treatments_clean.drop('dose',axis = 1,inplace = True)

### Problem

merging treatment and adverse reaction table

In [104]:
treatments_clean = pd.merge(treatments_clean,adverse_reactions,how = 'left',on = ['given_name','surname'])

In [105]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 349
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        350 non-null    object
 1   surname           350 non-null    object
 2   hba1c_start       350 non-null    float64
 3   hba1c_end         350 non-null    float64
 4   hba1c_change      213 non-null    float64
 5   treatments        350 non-null    object
 6   start_dose        350 non-null    object
 7   end_dose          350 non-null    object
 8   adverse_reaction  35 non-null     object
dtypes: float64(3), object(6)
memory usage: 27.3+ KB

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

##### Define
Adverse reactions table is no longer needed so ignore that part. Isolate the patient ID and names in the `patients` table, then convert these names to lower case to join with `treatments`. Then drop the given name and surname columns in the treatments table (so these being lowercase isn't an issue anymore).

##### Code

In [106]:
id_names

     patient_id given_name      surname
0             1        zoe      wellish
1             2     pamela         hill
2             3        jae       debord
3             4       liêm         phan
4             5        tim      neudorf
..          ...        ...          ...
498         499    mustafa    lindström
499         500      ruman      bisliev
500         501      jinke    de keizer
501         502    chidalu  onyekaozulu
502         503        pat      gersten

[503 rows x 3 columns]

In [107]:
id_names = patients_clean.loc[:,['patient_id', 'given_name', 'surname']]
id_names['given_name'] = id_names['given_name'].str.lower()
id_names['surname'] = id_names['surname'].str.lower()
treatments_clean = pd.merge(treatments_clean, id_names, on=['given_name', 'surname'])
treatments_clean = treatments_clean.drop(['given_name', 'surname'], axis=1)

In [108]:

treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 348
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   hba1c_start       349 non-null    float64
 1   hba1c_end         349 non-null    float64
 2   hba1c_change      212 non-null    float64
 3   treatments        349 non-null    object
 4   start_dose        349 non-null    object
 5   end_dose          349 non-null    object
 6   adverse_reaction  35 non-null     object
 7   patient_id        349 non-null    int64
dtypes: float64(3), int64(1), object(4)
memory usage: 24.5+ KB

### making patient_id first columns

In [109]:
treatments_clean.reindex(['patient_id','hba1c_start','hba1c_end','hba1c_change','treatments','start_dose','end_dose','adverse_reaction'],axis = 1)

,patient_id,hba1c_start,hba1c_end,hba1c_change,treatments,start_dose,end_dose,adverse_reaction
0,225,7.63,7.20,NaN,auralin,41u,48u,NaN
1,242,7.97,7.62,0.35,auralin,33u,36u,NaN
2,345,7.65,7.27,0.38,auralin,37u,42u,NaN
3,276,7.89,7.55,0.34,auralin,31u,38u,NaN
4,15,7.76,7.37,NaN,auralin,30u,36u,NaN
...,...,...,...,...,...,...,...,...
344,153,7.51,7.06,0.95,novodra,55u,51u,nausea
345,420,7.67,7.30,NaN,novodra,26u,23u,NaN
346,336,9.21,8.80,0.91,novodra,22u,23u,injection site discomfort
347,25,7.96,7.51,0.95,novodra,28u,26u,hypoglycemia
348,477,7.68,7.21,NaN,novodra,42u,44u,injection site discomfort