# Assesing

## Understanding the Data
Let's use pandas to better understand the bike share data! Use this code editor to explore chicago.csv and answer the questions below. The file included here is a mini version of one of the actual data files you will work with for the project. It only includes 400 rows, but the structure and columns are the same.

In [1]:
#Loading the data 
import pandas as pd

Chicago_df = pd.read_csv('chicago.csv')

In [2]:
Chicago_df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [3]:
Chicago_df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [4]:
Chicago_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [5]:
Chicago_df.shape

(300000, 9)

In [6]:
Chicago_df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [7]:
sum(Chicago_df.duplicated())

0

In [8]:
Chicago_df.nunique()

Unnamed: 0       300000
Start Time       292758
End Time         291109
Trip Duration      7157
Start Station       568
End Station         572
User Type             3
Gender                2
Birth Year           79
dtype: int64

In [9]:
Chicago_df.dtypes

Unnamed: 0         int64
Start Time        object
End Time          object
Trip Duration      int64
Start Station     object
End Station       object
User Type         object
Gender            object
Birth Year       float64
dtype: object

In [10]:
Chicago_df['Start Time'].unique()

array(['2017-06-23 15:09:32', '2017-05-25 18:19:03',
       '2017-01-04 08:27:49', ..., '2017-02-12 09:59:01',
       '2017-04-16 17:07:15', '2017-05-30 12:38:28'], dtype=object)

In [11]:
Chicago_df['Start Time'].value_counts()

2017-05-15 13:13:00    4
2017-04-09 17:25:13    3
2017-06-13 18:27:53    3
2017-06-26 17:20:53    3
2017-05-18 08:42:02    3
                      ..
2017-03-28 13:25:59    1
2017-06-18 09:55:47    1
2017-06-10 16:29:34    1
2017-06-02 21:03:08    1
2017-03-28 08:23:31    1
Name: Start Time, Length: 292758, dtype: int64

# Practice Problem #1: Compute the Most Popular Start Hour

In [12]:
# change Start time to date time type
Chicago_df['Start Time'] = pd.to_datetime(Chicago_df['Start Time'])

In [13]:
# change Start time to date time type
Chicago_df['End Time'] = pd.to_datetime(Chicago_df['End Time'])

In [14]:
# extract hour from the Start Time column to create an hour column
Chicago_df['hour'] =Chicago_df['Start Time'].dt.hour

In [15]:
popular_hour = Chicago_df['hour'].mode()[0]

In [16]:
print('Most Frequent Start Hour:', popular_hour)

Most Frequent Start Hour: 17

In [17]:
Chicago_df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14

# Practice Problem #2: Display a Breakdown of User Types
There are different types of users specified in the "User Type" column. Find how many there are of each type and store the counts in a pandas Series in the user_types variable.

Hint: What pandas function returns a Series with the counts of each unique value in a column?

In [18]:
user_counts = Chicago_df['User Type'].value_counts()

In [19]:
Chicago_df['User Type'].nunique()

3

In [ ]:
user_counts

# Practice Problem #3: Load and Filter the Dataset
This is a bit of a bigger task, which involves choosing a dataset to load and filtering it based on a specified month and day. In the quiz below, you'll implement the load_data() function, which you can use directly in your project. There are four steps:

1- Load the dataset for the specified city. Index the global CITY_DATA dictionary object to get the corresponding filename for the given city name.

2 - Create month and day_of_week columns. Convert the "Start Time" column to datetime and extract the month number and weekday name into separate columns using the datetime module.

3 - Filter by month. Since the month parameter is given as the name of the month, you'll need to first convert this to the corresponding month number. Then, select rows of the dataframe that have the specified month and reassign this as the new dataframe.

4- Filter by day of week. Select rows of the dataframe that have the specified day of week and reassign this as the new dataframe. (Note: Capitalize the day parameter with the title() method to match the title case used in the day_of_week column!)

In [23]:
import pandas as pd

City_Data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [147]:
def load_data(City, month,day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    # load data from the certain city 
    City_df = pd.read_csv(City_Data[City])
    
    # convert the start time to datatime type
    City_df['Start Time'] = pd.to_datetime(City_df['Start Time'])
    
    #extract month and day and hour from the start time data set 
    City_df['month'] = City_df['Start Time'].dt.month
    
    City_df['day_of_week'] = City_df['Start Time'].dt.day_name()
    
    City_df['hour'] = City_df['Start Time'].dt.hour
    
    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        City_df = City_df[City_df['month'] == month] 
    
       # filter by month if applicable
    if day != 'all':
        # filter by month to create the new dataframe
        City_df = City_df[City_df['day_of_week'] == day] 
    
    return City_df

In [106]:
def get_filters():
    string = 'invalid'
    Cities = ['chicago','new york city','washington']
    days_of_week = ['all','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
    months = ['all','january', 'february', 'march', 'april', 'may', 'june']
    print('Hello! Let\'s explore some US bikeshare data!')
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    print('please input the city u want')
    while(city not in Cities):
        print("please input 1 of the valid cities")
        city = input().lower()
        
    # get user input for month (all, january, february, ... , june)
    print('please input the month')
    month = input().lower()
    while(month not in months):
        print("please input the month right")
        month = input().lower()
    # get user input for day of week (all, monday, tuesday, ... sunday)
    print('please input day of the week in characters')
    day = input().capitalize()
    
    while(day not in days_of_week):
        print("please input day of week in char")
        day = input().capitalize()

    print('-'*40)
    return city, month, day

In [128]:
import time
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    most_frequent_month = df['month'].mode()[0]
    print('the most frequent month is',most_frequent_month)

    # display the most common day of week
    most_frequent_day_of_week = df['day_of_week'].mode()[0]
    print('the most frequent day of week is',most_frequent_day_of_week)

    # display the most common start hour
    most_frequent_hour= df['hour'].mode()[0]
    print('the most frequent hour is',most_frequent_hour)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [131]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print('most commonly used start station :',df['Start Station'].mode()[0])

    # display most commonly used end station
    print('most commonly used end station :',df['End Station'].mode()[0])

    # display most frequent combination of start station and end station trip
    df['Trip'] = df['Start Station'].str.cat(df['End Station'], sep = ' towards ')
    print('most common trip : ',df['Trip'].mode()[0])

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [149]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('total trips time = {} seconds'.format(sum(df['Trip Duration'])))

    # display mean travel time
    print('average travel time is',round(df['Trip Duration'].mean()))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [155]:
def user_stats(df,city):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    print(df['User Type'].value_counts())
    
    if(city != 'washington'):
        # Display counts of gender
        print(df['Gender'].value_counts())

        # Display earliest, most recent, and most common year of birth
        print('earliest year of birth is ',df['Birth Year'].min())

        print('most recent year of birth is ',df['Birth Year'].max())

        print('most recent year of birth is ',df['Birth Year'].mode()[0])

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [157]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df,city)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break

if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
please input the city u want
washington
please input the month
april
please input day of the week in characters
wednesday
----------------------------------------

Calculating The Most Frequent Times of Travel...

the most frequent month is 4
the most frequent day of week is Wednesday
the most frequent hour is 7

This took 0.0030219554901123047 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

most commonly used start station : Columbus Circle / Union Station
most commonly used end station : Columbus Circle / Union Station
most common trip :  Jefferson Dr & 14th St SW towards Jefferson Dr & 14th St SW

This took 0.006983280181884766 seconds.
----------------------------------------

Calculating Trip Duration...

total trips time = 10104814.02500003 seconds
average travel time is 1153

This took 0.000995635986328125 seconds.
----------------------------------------

Calculating User Stats...

Subscriber    6891
Customer      1874
Name: User Type, dtype: int64

This took 0.0019953250885009766 seconds.
----------------------------------------

Would you like to restart? Enter yes or no.
yes
Hello! Let's explore some US bikeshare data!
please input the city u want
Chicago
please input the month
march
please input day of the week in characters
saturday
----------------------------------------

Calculating The Most Frequent Times of Travel...

the most frequent month is 3
the most frequent day of week is Saturday
the most frequent hour is 15

This took 0.0019953250885009766 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

most commonly used start station : Streeter Dr & Grand Ave
most commonly used end station : Streeter Dr & Grand Ave
most common trip :  Calumet Ave & 33rd St towards State St & 33rd St

This took 0.014124631881713867 seconds.
----------------------------------------

Calculating Trip Duration...

total trips time = 1644923 seconds
average travel time is 778

This took 0.0010106563568115234 seconds.
----------------------------------------

Calculating User Stats...

Subscriber    1826
Customer       287
Name: User Type, dtype: int64
Male      1365
Female     462
Name: Gender, dtype: int64
earliest year of birth is  1921.0
most recent year of birth is  2000.0
most recent year of birth is  1989.0

This took 0.004377841949462891 seconds.
----------------------------------------

Would you like to restart? Enter yes or no.
no